@import 'tailwindcss';

@theme {
  --color-primary: #f5f4f2;
  --color-primary-variant: #d0d0d0;
  --color-secondary: #0f0e0d;
  --color-foreground: var(--color-primary);
  --color-background: var(--color-secondary);

  --font-default:
    'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
}
